\**/.terraform/*

\*.tfstate
\*.tfstate.backup
*.tfstate.*

crash.log

override.tf
override.tf.json
\*\_override.tf
\*\_override.tf.json

.terraformrc
terraform.rc

.terraform.lock.hcl

\*.tfvars
\*.tfvars.json
secret.tfvars
secret.tfvars.json

.terraformrc

.vscode/
.idea/
\*.swp

.DS\_Store
\*.log
